img {
    border-radius: 8px;
    width: 100px;
    height: 300px;
    margin-left: 600px;
}

.texto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

.conteudo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 224, 25);
}

#root{
    background-color: rgb(219, 166, 96);
}